connexion >= 2.6.0
connexion[swagger-ui] >= 2.6.0
connexion[uvicorn] >= 0.35.0
connexion[flask] >= 3.1.2
python_dateutil == 2.6.0
setuptools >= 78.1.1
swagger-ui-bundle >= 0.0.2
flask-pymongo==3.0.1
pytest~=8.4.1
werkzeug~=3.1.3
flask~=3.1.2
six~=1.17.0